<div class="row">
    <div class="col-sm-10">
      <div class="row">
      </div>
  
    <% for(let i = 0; i < posts.length; i++ ){ %>
        <div class="container border border-2 rounded-3">
        <small><%= user.username %></small>
        <h4>
            <p><%= posts[i].name %> the <%= posts[i].race %> <%= posts[i].class %></p>
        </h4>
        <p class="container"><%= posts[i].content %></p>
        <a href="/posts/<%= posts[i].id %>">details</a>
        </div>
    <% } %>
  
    </div>
  </div>