<div class="row mt-1 mb-1">
    <div class="col-sm-15 ">
      <div class="row">
      </div>
  
    <% for(let i = 0; i < posts.length; i++ ){ %>
        <div class="nes-container is-dark with-title is-centered is-rounded mt-3">
        <p class="title"><%= user.username %></p>
        <h4>
            <p><%= posts[i].name %> the <%= posts[i].race %> <%= posts[i].class %></p>
        </h4>
        <p class="container"><%= posts[i].content %></p>
        <a href="/posts/<%= posts[i].id %>">details</a>
        </div>
    <% } %>
  
    </div>
  </div>