<h2>Show Specific Posts Page</h2>

<a href="/posts/new">Create a new post</a>
<div class="row">
    <div class="col-sm-10">
      <div class="row">
      </div>
  
        <div class="container border border-2 rounded-3">
        <small><%= onePost.user.username %></small>
        <h4>
            <p><%= onePost.name %> the <%= onePost.race %> <%= onePost.class %></p>
        </h4>
        <p class="container"><%= onePost.content %></p>
        </div>  
        <a href="/posts/edit/<%= onePost.id %>" <% if(user.id !== onePost.userId){ %>
          <%= 'hidden' %>
      <% } %> >Edit Post</a>
        <form method="POST" action="/posts/<%= postId %>/?_method=DELETE">
          <input <% if(user.id !== onePost.userId){ %>
              <%= 'hidden' %>
          <% } %> type="submit" value="Delete">
        </form>
    </div>
    
  </div>
  <h4>(<%= comments.length %>)Comments:</h4>
  <form method="POST" action="/posts/<%=onePost.id%>/comments" >
    <label for="content">Comment:</label>
    <input type="text" class="form-control" id="content" name="content">
    <input  value="<%= userId %>" name="userId">
    <input  value="<%= postId %>" name="postId">
    <button type="submit">Post</button>
  </form>
  </br>

  

  <% comments.forEach(comment =>{ %>
    <p><%= comment.content %>  <small> by <%= comment.user.username %></small></p>
    <form method="POST" action="/posts/<%= onePost.id %>/comments/?_method=DELETE">
      <input <% if(user.id !== onePost.userId){ %>
          <%= 'hidden' %>
      <% } %> type="submit" value="Delete">
      <input hidden value="<%= comment.id %>" name="commentId">
    </form>
  <% }) %> 