<% if(!user){ %>
  <div>
    <h1>Please login or sign up</h1>
  </div>
  <div class="d-grid gap-2">
    <a class="btn btn-primary" href="/users/login" role="button" 
    style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2rem;">
    Login</a>
    <a class="btn btn-primary" href="/users/new" role="button"
    style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 2rem;">
    Signup</a>
  </div>
<% } else { %>
<div class="row mt-2 mb-1">
    <div class="col-sm-15">
        <div class="nes-container is-dark with-title is-centered" >
          <p class="title"><%= post.user.username %></p>
        <br/>
        <h4>
            <p><%= post.name %> the <%= post.race %> <%= post.class %></p>
        </h4>
        <p class="container"><%= post.content %></p>
        </div>  
        <div class="d-flex p-2 flex-row-reverse">
          <form method="POST" action="/posts/<%= postId %>/?_method=DELETE">
            <input class="nes-btn is-error" <% if(user.id !== post.userId){ %>
                <%= 'hidden' %>
            <% } %> type="submit" value="Delete">
          </form>
          <a class="nes-btn is-primary" href="/posts/edit/<%= post.id %>" <% if(user.id !== post.userId){ %>
            <%= 'hidden' %>
        <% } %> >Edit Post</a>
        </div>
    </div>
    
  </div>
  <h4>(<%= comments.length %>)Comments</h4>
  <form method="POST" action="/posts/<%=post.id%>/comments" class="d-flex">
    <label for="content">Add A Comment:</label>
    <input type="text" class="form-control nes-input bg-opacity-10 bg-secondary" id="content" name="content">
    <input hidden value="<%= userId %>" name="userId">
    <input hidden value="<%= postId %>" name="postId">
    <button type="submit" class="nes-btn is-primary d-flex flex-row-reverse">Post</button>
  </form>
  </br>

  

  <% comments.forEach(comment =>{ %>
    <div class="container-fluid " >
      <div class="row border-top border-bottom ">
        <div class="col-10 col-sm-25">
        <p class="mt-1 text-break"><%= comment.content %></p>
        <small class="text-end"> by <%= comment.user.username %></small>
        </div>
        <div class="col-2 d-flex flex-row-reverse align-items-end">
        <form method="POST" action="/posts/<%= post.id %>/comments/?_method=DELETE">
          <input class="nes-btn is-error " <% if(user.id !== comment.userId){ %>
              <%= 'hidden' %>
          <% } %> type="submit" value="Delete">
          <input hidden value="<%= comment.id %>" name="commentId">
        </form>
      </div>
    </div>
  </div>
  <% }) %> 
<% } %>