<% if(!user){ %>
  <h1>Please login or sign up</h1>
<% } else { %>
<div class="row">
    <div class="col-sm-10">
      <div class="row">
      </div>
  
        <div class="container border border-2 rounded-3">
        <small><%= post.user.username %></small>
        <h4>
            <p><%= post.name %> the <%= post.race %> <%= post.class %></p>
        </h4>
        <p class="container"><%= post.content %></p>
        </div>  
        <a href="/posts/edit/<%= post.id %>" <% if(user.id !== post.userId){ %>
          <%= 'hidden' %>
      <% } %> >Edit Post</a>
        <form method="POST" action="/posts/<%= postId %>/?_method=DELETE">
          <input <% if(user.id !== post.userId){ %>
              <%= 'hidden' %>
          <% } %> type="submit" value="Delete">
        </form>
    </div>
    
  </div>
  <h4>(<%= comments.length %>)Comments:</h4>
  <form method="POST" action="/posts/<%=post.id%>/comments" >
    <label for="content">Comment:</label>
    <input type="text" class="form-control" id="content" name="content">
    <input  value="<%= userId %>" name="userId">
    <input  value="<%= postId %>" name="postId">
    <button type="submit">Post</button>
  </form>
  </br>

  

  <% comments.forEach(comment =>{ %>
    <p><%= comment.content %>  <small> by <%= comment.user.username %></small></p>
    <form method="POST" action="/posts/<%= post.id %>/comments/?_method=DELETE">
      <input <% if(user.id !== post.userId){ %>
          <%= 'hidden' %>
      <% } %> type="submit" value="Delete">
      <input hidden value="<%= comment.id %>" name="commentId">
    </form>
  <% }) %> 
<% } %>